#portfolio {
    min-height: 50vh;
}

#portfolio li {
    list-style: none;
}

#portfolio .portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
}

.projects-individual.proj-ind {
    transition: opacity 1s !important;

    &:hover {
        opacity: 0.6 !important;
    }
}

#portfolio .projects-individual {
    aspect-ratio: 3/2;
    flex-basis: calc(50% - 10px);
    position: relative;
    height: 100%;

    .project-tag {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 30px;
        left: 30px;
        font-size: 12px;
        gap:10px;
        background: rgba(0, 0, 0, 0.2);
        font-size: 11px;
        color: var(--branco);
        border-radius: 50px;
        padding: 5px 20px;

        //filter: invert(1);
        //mix-blend-mode: exclusion;

        h3 {
            &:nth-of-type(1) {
                font-weight: 500;
            }

            &:nth-of-type(2) {
                font-weight: 400;
            }
        }

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }

    .portfolio-categories {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 13px;

        li {
            background: rgba(150, 150, 150, .7);
            color: var(--branco);
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 20px;
        }
    }
}