body {
    overflow-y: hidden;
}

.btn-orcamento-in:hover {
    background-color: var(--cinza) !important;
    color: var(--cinza-claro) !important;
}

footer {
    background: var(--preto);
    color: var(--branco);
    position: relative;
    z-index: 999;


    #footer {
        padding: 100px 30px 30px;
        max-width: var(--container-width);


        .footer-contato {
            max-width: var(--container-width-mid);
            margin: 0 auto;
            margin-bottom: 100px;


            .btn-orcamento-wrapper {
                height: 0;
                border-top: 1px solid var(--cinza);
                position: relative;
                margin: 60px 0;
            }

            .btn-orcamento {


                .btn-orcamento-in {
                    transition: background-color 0.2s;
                    position: absolute;
                    right: 10%;
                    aspect-ratio: 1;

                    background: var(--branco);
                    display: flex;
                    align-items: center;
                    top: -90px;
                    border-radius: 100px;
                    color: var(--preto);

                    a {
                        max-width: 100px;
                        font-weight: 500 !important;
                        text-align: center;
                        padding: 40px 40px;
                        font-size: 19px;
                        font-weight: 200;
                    }
                }
            }


            h3 {
                font-size: 36px;
                font-weight: 300;
                color: var(--cinza)
            }

            h2 {
                max-width: 730px;
                font-family: var(--overused) !important;
                font-weight: 400;
                font-size: 45px;
                line-height: 1.2em;
            }

            .btn-contato {
                display: flex;
                gap: 10px;

                a {
                    border: 1px solid var(--cinza);
                    border-radius: 50px;
                    padding: 20px 40px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--cinza);
                    }
                }


            }
        }

        .credits-social {
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: space-between;

            .footer-social {
                display: flex;
                flex-direction: row;
                gap: 60px;

                a {
                    line-height: 2em;
                }
            }

            .credits-social-col p:nth-of-type(1) {
                color: var(--cinza);
            }
        }
    }
}