.sobre-banner-container {
    display: flex;
    flex-direction: row;
    background-color: var(--preto);
    border-radius: 35px;

    .sobre-banner-col:nth-of-type(1) {
        flex-basis: 50%;
    }

    .sobre-banner-col:nth-of-type(2) {
        flex-basis: 50%;
    }

    .sobre-banner-col {
        color: var(--branco);

        .sobre-banner-text {
            padding: 6em 11.8em 6em 4em;
            font-size: 18px;


            em {
                display: flex;
                margin-top: 40px;
                max-width: 255px;
            }

            h2 {
                font-size: 54px;
                font-family: var(--overused);

            }

            p {
                margin: 40px 0px 0px;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 35px;
            height: 100%;
        }
    }
}

.servicos {
    padding: 0 30px;

    h2 {
        // max-width: 460px;
        margin-bottom: 100px;
        font-size: 54px;
    }

    .servicos-itens {
        display: flex;
        gap: 16.25%;

        .servicos-col {
            flex-basis: 22.5%;

            h4 {
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.5em;

            }

            p {
                color: var(--cinza);

                strong {
                    font-weight: 600;
                }
            }
        }

    }
}

@media(max-width: 1400px) {
    .sobre-banner-text {
        padding: 6em 4em 6em 4em !important;
    }
}

@media(max-width: 1290px) {
    .sobre-banner-text {
        padding: 40px 30px !important;
        font-size: 1.5vw !important;
    }
}